*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Swap files in vi
.*.sw[a-z]

# Larger original images
media/images/scoop/original
content/media/images/scoop
deploy/media/images/scoop/original

.DS_Store

## Tablesort

content/extra/tablesort/.editorconfig
content/extra/tablesort/.eslintrc
content/extra/tablesort/.gitignore
content/extra/tablesort/.nvmrc
content/extra/tablesort/.travis.yml
content/extra/tablesort/GruntFile.js
content/extra/tablesort/_config.yml
content/extra/tablesort/bower.json
content/extra/tablesort/package-lock.json
content/extra/tablesort/package.json
content/extra/tablesort/test/

