<!doctype html>
<html>
  <head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ media_url('favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
    <!--<link rel="stylesheet" href="https://github.com/themes/minimal/stylesheets/styles.css">-->
    <link rel="stylesheet" href="{{ media_url('js/styles.css') }}">
    <style>
      header { zoom: 1.2; }
      header h1 { margin-bottom: 5px; }
      header h1 a { color: #494949; font-weight: bold; }
      header h3 { margin-top: 20px; margin-bottom: 5px; }
      header h4 { margin-top: 20px; margin-bottom: 5px; }
      header p.view { margin-bottom: 5px; }
      header p.view small { padding-top: 2px; }
      header p.foo { margin-bottom: 0px; }
      header p.foo small { padding-top: 0px; }
      header p.email { margin-bottom: 5px; font-family:"Inconsolata" }
      header ul {
        zoom: 0.7;
        margin-top: 25px;
      }
      section p { margin-top: 10px;}
      section h1 { margin-bottom: 15px; }
      section h2 { margin-bottom: 10px; }
      section h2 { margin-bottom: 10px; }
      footer { bottom: 20px; }
      footer p { margin-bottom: 5px; }
      .half-width {
        float: left;
        width: 200px;
        list-style: none;
        padding: 5px;
        margin: 7px;
        margin-bottom: 10px;
      }
      .half-width h4 {
        margin-bottom: 5px;
      }
      .half-width ul {
        padding-left: 0;
      }
      .half-width ul li {
        list-style: inside;
        font-size: 15px;
      }
      .clear-fix {
        clear: both;
      }
    </style>
    <!--<script src="https://github.com/themes/minimal/javascripts/scale.fix.js"></script>-->
    <script src="{{ media_url('js/scale.fix.js') }}"></script>
  {% endblock css %}
  </head>
    
  <body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
    <div class="wrapper">
      {% block wrapper %}
      <header>
        {% block header %}
        <h1><a href="{{ content_url('') }}">Kyle Willett</a></h1>
	    {% endblock header %}
	{% block nav %}
	<br>
        <p class="view"><a href="{{ content_url('research.html') }}">Research<br><small>Things I Work On</small></a></p>
        <p class="view"><a href="{{ content_url('cv.html') }}">CV<br><small>Professional Details</small></a></p>
        <p class="view"><a href="{{ content_url('teaching.html') }}">Teaching<br><small>Communicating</small></a></p>
        <p class="view"><a href="{{ content_url('aboutme.html') }}">About Me<br><small>When I'm Not Working</small></a></p>
	{% endblock nav %}
	  
	    {% block web %}
        <h4>On the Web</h4>
        <p class="view"><a href="http://github.com/willettk" target="tab">GitHub</a>
        <p class="view"><a href="http://twitter.com/kwwillett" target="tab">Twitter</a>
        <p class="email">kw@kylewillett.com</a>
        {% endblock web %}

	    {% block offweb %}
        <h4>Off the Web</h4>
        <p class="foo"><small>Fellow, Insight Data Science<h/small></a>
        <p class="foo"><small>Palo Alto, CA/Lexington, KY (remote)</small></a>
        {% endblock offweb %}

      </header>
      <section id="main">
	{% block main %}
        {{ content }}
	{% endblock main %}
      </section>
      {% block footer %}
      <footer>
	<p><small>Built with <a href="http://hyde.github.io/">Hyde</a>. <br>
	    Layout adapted from <a href="https://github.com/orderedlist/minimal">orderedlist</a> and <a href="https://github.com/jakevdp/website">jakevdp</a>.</small></p>
      </footer>
      {% endblock footer %}
    {% endblock wrapper %}
    </div>
    {% endblock content %}

    {% block js %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eb74c9f613f5d3567000004');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    {% block jquery %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    {% endblock jquery %}

    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}

    {% endblock js %}

  </body>
</html>
