body {
	background-color : #000000;
	color : #cc9900;
	font-family:	Open Sans, 
			Helvetica, Arial,  
			Geneva, sans-serif;
	font-size : 11pt;
	margin-top:	5;
	margin-left:	5;     
}

p
	{
	color : #ffffff;
	font-family:	Open Sans, 
			Helvetica, Arial,  
			Geneva, sans-serif;
	text-align: justify;
}

p.source
	{
	color : #ffffff;
	font-family:	Open Sans, 
			Helvetica, Arial,  
			Geneva, sans-serif;
	text-align: right;
}

p.intro
	{
	color : #cc9900;
	font-family:	Open Sans, 
			Helvetica, Arial,  
			Geneva, sans-serif;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}

h1	{
	color : #cccc33;
	text-decoration : underline;
}

h2
	{
	color : #cc9900;
	font-size: 11pt;
	font-weight: normal;
}

h3
	{
	color : #cccc33;
	font-size: 11pt;
	font-weight: bold;
	text-decoration : underline;
}

h4
	{
	color : #ffffff;
	font-family:	Open Sans, 
			Helvetica, Arial,  
			Geneva, sans-serif;
	text-align: center;
	font-weight: normal;
	font-size: 11pt;
}

h5
	{
	color : #33cc00;
	font-size : 11pt;
	font-weight: normal;
	text-align: justify;
}

h6
	{
        color : #330099;
}

a:img {
	border-width:5;
	border-color:#ff0000;
}

a:link   {
	color : #33ccff;
}

a:visited {
	color : #33ccff;
}

a:hover {
	color : #ffff00;
}

/* end of file */